.request-method {
  font-weight: bold;
  text-transform: uppercase;
}

.nav-menu dl {
  border-right: 1px solid #ebebee;
  dt a {
    display: block;
    padding: 8px 24px;
    color: #ea4257;
    &:hover {
      background: #FFF0C5;
    }
  }
  .subnav {
    list-style-type: none;
    margin: 10px 0 10px 24px;
    border-left: 1px solid #ebebee;
  }
  a {
    font-size: 14px;
    text-decoration: none;
  }
}

.active a {
  color: #fff !important;
  background-color: #ea4257 !important;
}
.sub-active {
  border-left: 2px solid #ea4257 !important;
}

.nav-first-child {
  padding: 0 24px 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ebebee;
  font-weight: 700;
  line-height: 1.8em;
}

.subnav-item a {
  padding: 8px 24px;
  display: block;
  color: #6F6F6F;
  &:hover {
    background: #f2f2f2;
  }
}

.goto-documentation {
  text-align: center;
  a {
    text-transform: capitalize;
    background-color: #ea4257;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
    color: #F7F7F7;
    margin-top: 40px;
  }
}

// panel
.codehilite {
  border-radius: 3px;
  border: 1px solid $panel-border-color;
  margin-bottom: 30px;
}

.codehilite-header {
  margin: 0;
  border-bottom: 1px solid $panel-border-color;
  padding-left: 10px;
  padding-top: 1px;
  background-color: $panel-bg-header;
  h3 {
    margin: 0;
    color: $text-color;
  }
}

.codehilite-body {
  .highlight {
    margin: 0;
    padding: 0;
  }
  pre {
    background: white;
    overflow-x: auto;
    border: none;
    margin: 0;
    padding: 15px;
  }
  .language-django,
  .language-html,
  .language-ruby {
    background: white;
    font-size: 14px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    li {
      margin: 5px 0;
      a {
        text-decoration: none;
      }
    }
  }
}

.tags {
  border-top: 1px dashed #ccc;
  margin: 48px 0 16px;
  padding-top: 47px;
}

hr {
  margin: 0px !important;
}